.content {
  margin: 0 auto;
  padding: 56px 0 92px;
  display: grid;
  grid-row-gap: 92px;
}

@media screen and (max-width: 1140px) {
  .content {
    padding-top: 48px;
  }
}

@media screen and (max-width: 984px) {
  .content {
    padding-bottom: 88px;
    grid-row-gap: 88px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    padding-bottom: 64px;
    grid-row-gap: 64px;
  }
}

