.lead__title {
  font-size: 96px;
  line-height: 1.04;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 720px;
  font-weight: 900;
}

@media screen and (max-width: 750px) {
  .lead__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.08;
    margin: 0 auto 24px;
  }
}

@media screen and (max-width: 568px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
  }
}

