.intro {
  box-sizing: content-box;
  max-width: 690px;
  min-height: 429px;
  margin: 0 auto 0 0;
}

@media screen and (max-width: 984px) {
  .intro {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .intro {
    min-height: 754px;
  }
}

